@media (max-width: 1300px) {}

@media (max-width: 1199px) {
  .screenshot_frame {
    width: 262px;
    height: 460px;
  }
}

@media (max-width: 1204px) {
  .features_img_1 img {
    width: 90%;
  }
  .features_img_2 {
    top: -20px;
  }
  .even_more_ss {
    margin-top: 30px;
  }
  .even_more_main.bottom_curve:after {
    bottom: 15px;
  }
  .even_more_info {
    margin-top: 0px;
  }
}
@media (max-width: 991px) {
  .fixed-top {
    position: relative;
    background-color: #FFF;
    padding: 5px 0px;
  }
  .mobile {
    display: block;
  }
  .sticky .no_hover, .no_hover, .on_hover {
    display: none;
  }
  .navbar-custom .navbar-toggler {
    font-size: 20px;
  }
  /* .nav-sticky.navbar-custom {
      padding: 5px 0px;
    } */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
  }
  .navbar-custom .navbar-nav {
    margin-bottom: 10px;
  }
  .navbar-custom .navbar-nav li a {
    color: #2f3545 !important;
    margin: 0px;
    margin-top: 10px;
  }
  .navbar-custom .navbar-nav li.active a {
    color: #2b3d8f !important;
  }
  .navbar-nav {
    max-height: initial;
  }
  .section {
    padding: 30px 0px;
  }
  .features_sec {
    padding-top: 0px;
  }
  .portfolio_banner_mobile {
    margin-top: 20px;
  }
  .features_img_2 {
    top: -90px;
  }
  .even_more_main.bottom_curve:after {
    bottom: -1px;
  }
  .top_curve::before, .even_more_main.bottom_curve:after {
    background-size: contain !important;
  }
  .screenshots_sec {
    padding-bottom: 0px;
  }
  .social_media ul li {
    margin-right: 15px;
  }
  .copyright_blog p {
    font-size: 12px;
  }

  .cms_page_banner .title_heading {
    padding: 50px 0px;
  }
  .cms_page_banner .title_heading h1 {
    padding-top: 0;
  }

  .title_heading h1 {
    width: 100%;
  }
  .even_more_info h2 {
    line-height: 34px;
    font-size: 22px;
  }


}
@media (max-width: 820px) {
  .screenshot_frame {
    width: 249px;
    height: 464px;
  }
}
@media (max-width: 768px) {
  .screenshot_frame {
    width: 263px;
    height: 460px;
  }
}


@media (max-width: 767px) {

  .bg-home {
    height: auto;
  }
  .title_heading h1 br {
    display: none;
  }
  .title_heading h1 {
    line-height: 35px;
    font-size: 24px;
    width: 100%;
    padding-top: 20px;
  }
  .title_heading p {
    margin-top: 10px;
  }
  .banner_btn a {
    margin-right: 5px;
  }
  .portfolio_banner_mobile {
    width: 100%;
    margin-top: 30px;
  }
  .section {
    padding: 20px 0px;
  }
  .about_info h2 {
    font-size: 24px;
  }
  .about_info h5 {
    font-size: 15px;
    line-height: 24px;
    margin: 10px 0 10px;
  }
  .about_info ul li {
    margin-bottom: 10px;
  }
  .about_info ul li p {
    margin-bottom: 0px;
  }
  .features_sec {
    padding-top: 0px;
  }
  .landing_title h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .landing_title p {
    font-size: 14px;
    line-height: 22px;
  }
  .features_icon {
    position: relative;
    text-align: center;
  }
  .features_info {
    padding-left: 0px;
    text-align: center;
    margin-top: 10px;
  }
  .landing_title {
    margin-bottom: 20px;
  }
  .features_img_1 {
    display: none;
  }
  .features_img_2 {
    position: relative;
    left: 0;
    top: 0;
  }
  .features_img_1 img, .features_img_2 img {
    width: 60%;
    margin: 0px auto;
    display: block;
  }
  .even_more_main.top_curve::before {
    background-size: contain;
  }
  .even_more_ss img {
    width: 70%;
    margin: 0px auto;
    display: block;
  }
  .even_more_main {
    background-size: cover;
    padding-block: 40px;
  }
  .even_more_info h2 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .even_more_info p {
    margin: 5px 0 20px;
  }
  .even_more_info ul li {
    width: 42%;
  }
  .even_more_info ul li a {
    margin-top: 0px;
  }
  .even_more_info ul li a img {
    width: 100%;
  }
  .even_more_main.bottom_curve:after {
    bottom: 0;
  }
  .screenshots_sec {
    margin-top: 0;
    padding-bottom: 0px;
  }
  .screenshot_frame {
    display: none;
  }
  .screen_slider_carousel .owl-item img {
    border-radius: 10px;
  }
  .screen_slider {
    margin-top: 0px;
  }
  .screen_slider .owl-theme .owl-dots {
    margin: 30px 0 0;
  }
  .footer {
    padding: 20px 0px;
  }
  .footer_logo p {
    margin-top: 10px;
  }
  .footer_dtl_info h4 {
    margin-bottom: 10px;
  }
  .copyright_blog {
    padding: 0px 15px;
  }
  .social_media {
    text-align: center;
  }
  .social_media ul li {
    margin-right: 10px;
    padding: 10px 0;
  }
  .social_media ul li a {
    font-size: 14px;
  }

  .copyright_blog p {
    padding-top: 5px;
    float: left;
    text-align: center;
    margin-bottom: 5px;
  }

  .cms_page_banner .title_heading {
    padding: 30px 0px;
  }
  .cms_page_banner .title_heading h1 {
    padding-top: 0;
    font-size: 26px;
  }
  .conditions_blog_main {
    padding: 10px 0px;
  }
  .title_terms {
    font-size: 22px;
    margin-bottom: 0;
  }
}

@media (max-width: 568px) {}

@media (max-width: 480px) {}