@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  font-size: 14px;
  color: #242424;
}


::-moz-selection {
  background: #6c757d;
  color: #ffffff;
}

::selection {
  background: #6c757d;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}
p {
  line-height: 26px;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.nav-pills .nav-link {
  color: #535353 !important;
  margin: auto 15px;
  border: 1px solid #e9ecef;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-pills .nav-link.active {
  color: #ffffff;
  background-color: #f8f9fa;
  color: #2b3d8f !important;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-pills .nav-link:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.nav-pills .show>.nav-link {
  color: #ffffff;
  background-color: #e9ecef;
  color: #535353 !important;
}

.nav-pills a .capabilities .icon {
  display: inline-block;
  height: 58px;
  width: 58px;
  line-height: 58px;
  border-radius: 50%;
}

.nav-pills a .capabilities .icon i {
  font-size: 24px;
}

.nav-pills a .capabilities .title {
  font-size: 16px;
}

.nav-pills .capabilities-content .title {
  font-size: 18px;
  font-weight: 500;
}


.navbar-custom {
  background-color: transparent;
  padding: 40px 0 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 9;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-top: 15px;
}

.navbar-custom .navbar-toggler {
  color: #ffffff;
  font-size: 30px;
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-custom .navbar-nav li a {
  color: #ffffff !important;
  font-size: 15px;
  background-color: transparent !important;
  margin: 0 15px;
  line-height: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 500;

}

.navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:active {
  /* color: #2b3d8f !important; */
}

.navbar-custom .navbar-nav li.active a {
  /*color: #2b3d8f !important;*/
  color: #FFF !important;
  border-bottom: 1px solid #FFF;


}

.navbar-custom .navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
  padding-right: 0;
}

.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 0px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  color: #353535 !important;
  border: none;
}

.nav-sticky.navbar-custom .navbar-toggler {
  color: #535353;
}

.nav-sticky.navbar-custom .navbar-nav {
  margin-top: 0px;
}

.nav-sticky.navbar-custom .navbar-nav li a {
  color: #2f3545 !important;
  padding-right: 0px;
  padding-left: 0;
  padding-bottom: 5px;
}

.nav-sticky.navbar-custom .navbar-nav li a:hover, .nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #2b3d8f !important;

}

.nav-sticky.navbar-custom .navbar-nav li a {
  /*color: #2b3d8f !important;*/
  border-bottom: 1px solid transparent;

}
.nav-sticky.navbar-custom .navbar-nav li.active a {
  color: #2b3d8f !important;
  border-bottom: 1px solid #2b3d8f;

}

.nav-sticky.navbar-custom.sticky-light {
  background-color: #ffffff;
}

.nav-sticky .navbar-brand {
  color: #353535 !important;
}
.sticky .on_hover {
  display: none;
}
.nav-sticky .on_hover {
  display: block;
}
.sticky .no_hover {
  display: block;
}
.nav-sticky .no_hover {
  display: none;
}
.nav-sticky .navbar-brand {
  padding: 10px 0px;
}


@media (max-width: 1023px) {
  .navbar-custom .nav-social {
    display: none;
  }
}

@media (max-height: 480px) {
  .navbar-nav {
    max-height: 200px;
    overflow-y: auto;
  }
}



.home-center {
  display: table;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.bg-home {
  height: 100vh;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
  overflow: hidden;
}

.bg-half {
  height: 75vh;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
}




@-webkit-keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.element {
  /*margin: 0 auto;*/
  /*background-color: red;*/
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.5);
    /*background-color: red;*/
    /*border-radius: 100%;*/
  }
  50% {
    /*background-color: orange;*/
  }
  100% {
    transform: scale(1.1);
    /*background-color: yellow;*/
  }
}


.bottom_curve:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: url(../images/bg_curve_main_baner.png) bottom no-repeat;
  background-repeat: no-repeat;
  background-size: 100% !important;
}
.title_heading h1 {
  font-size: 45px;
  font-weight: bold;
  color: #FFF;
  width: 74%;
  line-height: 60px;
}
.title_heading p {
  font-size: 14px;
  color: #FFF;
  line-height: 26px;
  margin: 20px 0px;
}
.banner_btn a {
  display: inline-block;
  margin-right: 15px;
  margin-top: 1v0px;
}
.portfolio_banner_mobile {
  width: 80%;
  text-align: right;
  float: right;
  margin-top: 100px;
}
.portfolio_banner_mobile img {
  width: 100%;
}
.animation_1 {
  animation-name: float-bob;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0) scaleY(1.1);
    transform: translate3d(0, -10px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.animate__bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.about_info h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.about_info h2 span {
  color: #2b3d8f;
}
.about_info h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 20px 0 25px;
}
.about_info ul li {
  position: relative;
  margin-bottom: 20px;
}
.about_info ul li i {
  font-size: 16px;
  color: #2b3d8f;
  position: absolute;
  top: 5px;
  left: 0;
}
.about_info ul li p {
  font-size: 14px;
  color: #707070;
  position: relative;
  padding-left: 30px;
}
.about_ss img {
  width: 100%;
}
.section_pt_0 {
  padding-top: 0px;
}
.landing_title {
  margin-bottom: 30px;
}
.landing_title h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
.landing_title p {
  font-size: 15px;
  line-height: 26px;
}
.features_blog {
  box-shadow: 0 0 12px rgb(0 0 0 / 12%);
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
  display: inline-block;
  padding: 15px;
  width: 100%;
  position: relative;
  min-height: 95px;
}
.features_icon {
  position: absolute;
}
.features_info {
  position: relative;
  padding-left: 90px;
}
.features_info h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.features_info p {
  color: #707070;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
}
.features_blog:hover .features_icon {
  -webkit-animation: icon-bounce 0.8s ease-out infinite;
  animation: icon-bounce 0.8s ease-out infinite;
}
@-webkit-keyframes icon-bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes icon-bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.features_img_1 img {
  -webkit-animation: 5s infinite rotate360;
  animation: 5s infinite rotate360;
}
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn)
  }
}
@-webkit-keyframes move2 {
  0%, to {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px)
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-2px, -2px);
    transform: rotate(-1deg) translate(-2px, -2px)
  }
}
@keyframes move2 {
  0%, to {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px)
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-2px, -2px);
    transform: rotate(-1deg) translate(-2px, -2px)
  }
}
@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn)
  }
}
.features_img_info {
  position: relative;
}
.features_img_2 {
  position: absolute;
  top: 40px;
  left: calc(50% - 100px);
}
.features_img_1 img, .features_img_2 img {
  width: 100%;
}
.even_more_main {
  position: relative;
  background-image: url(../images/even_more_bg.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  overflow: hidden;
}
.even_more_main.bottom_curve:after {
  bottom: 45px;
  top: 0;
}

.top_curve::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  bottom: 0;
  left: -1px;
  right: -1px;
  background: url(../images/top_curve.png);
  background-repeat: no-repeat;
}
.even_more_ss {
  position: relative;
  z-index: 3;
  margin-top: 60px;
}
.even_more_ss img {
  width: 100%;
}
.even_more_info {
  position: relative;
  z-index: 3;
  margin-top: -90px;
}
.even_more_info h2 {
  font-size: 25px;
  color: #FFF;
  font-weight: bold;
  line-height: 41px;
  letter-spacing: 1px;
}
.even_more_info p {
  color: #FFF;
  margin: 25px 0 20px;
}
.even_more_info ul li {
  display: inline-block;
}
.even_more_info ul li a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
}
.screenshots_sec {
  margin-top: 40px;
}
.screen_slider {
  position: relative;
  margin-top: 30px;
}

.screenshot_frame {
  background-image: url(../images/phone_frame2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 293px;
  height: 550px;
  position: absolute;
  top: -10px;
  left: calc(50% + 0.5px);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 40px;
}

.screen_slider_carousel .owl-item img {
  -webkit-transform: scale(.85);
  transform: scale(.85);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #bdb8b8;
  border-radius: 30px;
}

.screen_slider_carousel .owl-item.active.center img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.screen_slider .owl-theme .owl-nav .owl-prev,
.screen_slider .owl-theme .owl-nav .owl-next {
  display: none;
}
.screen_slider .owl-theme .owl-dots {
  margin: 40px 0 0;
}
.contact_blog {
  box-shadow: 0 0 12px rgb(0 0 0 / 11%);
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
  display: inline-block;
  padding: 15px 15px 20px;
  width: 100%;
}
.form-control {
  padding: 0 15px;
  font-size: 15px;
  line-height: 48px;
  color: #242424;
  border-radius: 0px;
  border: 1px solid #c7c7c7;
  margin-bottom: 20px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #86b7fe;
  border: 1px solid #c7c7c7;
}
textarea {
  resize: none;
}
.button {
  min-width: 220px;
  max-width: 220px;
  display: inline-block;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
}
.button:focus {
  outline: none;
}
.button>span {
  vertical-align: middle;
}

/* Moema */
.button--moema {
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
  background: #2b3d8f;
  color: #FFF;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 0px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #010e49;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
  color: #ECEFF1;
  background-color: #222;
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.footer {
  background-image: url(../images/footer_bg.jpg);
  padding: 50px 0 20px;
}
.footer_logo p {
  color: #b7b7b7;
  margin-top: 30px;
}
.footer_dtl_info h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.footer_dtl_info_blog {
  margin-bottom: 20px;
  color: #b7b7b7;
  position: relative;
}
.footer_dtl_info_blog .icon {
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  top: 0;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.footer_dtl_info_blog:hover .icon {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_dtl_info_blog .info, .footer_dtl_info_blog .info a {
  font-weight: 500;
  color: #b7b7b7;
  position: relative;
  padding-left: 38px;
  display: inline-block;
}
.footer_dtl_info_blog .info a {
  padding-left: 0px;
  padding-top: 6px;
}
.footer_dtl_info p {
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 500;
}
.newsletter_box .form-control {
  margin-bottom: 10px;
}
.newsletter_box .button {
  width: 100%;
  max-width: 100%;
}
.newsletter_box .button--moema.button--inverted:hover {
  color: #2b3d8f;
  background-color: #FFF;
}
.copyright_blog {
  background-color: #292929;
  margin-top: 30px;
  padding: 0px 25px;
}
.social_media ul li {
  display: inline-block;
  padding: 20px 0;
  margin-right: 20px;
}
.social_media ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
}
.social_media ul li a:before {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  bottom: -5px;
  content: "";
}
.copyright_blog p {
  color: #b7b7b7;
  padding-top: 20px;
  float: right;
}
.mdi-menu {
  position: relative;
  width: 5px;
  height: 2px;
  background: red;
}
.mobile {
  display: none;
}

.cms_page_banner .title_heading h1 {
  width: 100%;
}

.cms_page_banner {
  height: auto;
}

.cms_page_banner .title_heading {
  padding: 120px 0px 100px;
}
.conditions_blog_main {
  padding: 50px 0px;
}

.title_terms {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 10px;
}
.conditions_blog p {
  font-size: 15px;
  /*color: #FFF;*/
  line-height: 30px;

}
.mt20 {
  margin-top: 20px;
}

.copyright_text p {
  color: #b7b7b7;
  padding-top: 20px;
  margin-bottom: 0;
}
.footer_link {
  text-align: right;

}

.footer_link ul li:last-child {
  margin-right: 0;
}